.header {
    width: 100%;
    padding: 15px 0;
    height: 60px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
   
  }
  .logo {
    

    font-size: 24px;
    font-weight: 300;
    color: rgb(75, 85, 108);

  }