::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

.website__about {
  margin-left: 120px;
  margin-top: 80px;
}

.header {
  width: 100%;
  padding: 15px 0;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: 300;
  color: gray;
}

.website__links {
  text-align: left;
  display: flex;
  justify-content: 0 2px;
  width: 500px;
  margin-top: 60px;
}
.website__link img {
  width: 32px;
  height: 32px;
  transition: 0.3s;
} 

 .website__links a:hover img {
  transform: scale(1.2);
}

.website__title {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 30px;
  background: -webkit-linear-gradient(#33ff96, #33d1ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 110px;
  width: 320px;
  text-align: left;
  margin-top: 60px;
}

.website__subtitle {
  text-align: left;
  width: 500px;
  font-size: 32px;
  font-weight: 400;
  height: 45px;
}

.website__description {
  text-align: left;
  width: 500px;
  font-size: 16px;
  height: 90px;
}

.website__tags {
  text-align: left;
  width: 500px;
  font-size: 16px;
}

.hero__link {
  margin-right: 10px;

  font-size: 30px;
  color: #000;
}
.hero__link:hover {
  color: #4facfe;
} 

.website__box {
  max-width: 600px;
  justify-self: center;
  overflow: hidden;
  border: 10px solid #fff;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  animation: ava-animate 5s infinite alternate;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  margin-left: 650px;
  margin-top: -500px;
}

.languageSwitcher {
  border-radius: 10px;
  font-weight: bold;
  text-align: left;
  margin-top: 60px;
}


 button {
  background-color: rgb(4, 82, 128);
  transition: 0.5s;
  border-radius: 10px;
  min-width: 45px;
  min-height:25px ;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  color: #45ca1c;
 }
 button:hover {
  background-color: rgb(147, 142, 37);
  transform: translateY(-5px);
 } 
 
 @keyframes ava-animate {
  0% {
    border-radius: 62% 38% 72% 28% / 67% 32% 68% 33%;
  }

  40% {
    border-radius: 37% 63% 53% 47% / 67% 32% 68% 33%;
  }

  60% {
    border-radius: 23% 77% 39% 61% / 78% 54% 46% 22%;
  }

  100% {
    border-radius: 18% 82% 24% 76% / 43% 54% 46% 57%;
  }
} 

 /* button {
  min-width: 80px;
  min-height: 60px;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

button:hover, 
button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, 
button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, 
button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}